<h1>TinyApp <small class="text-muted">a tiny Node/ExpressJS exercise that creates even tinier URLs</small></h1>
<form action="/login" method="POST">
  <input type="text" name="username" value="">
  <button type="submit">Sign In</button>
</form>