<h1>TinyApp <h6><small class="text-muted">a tiny Node/ExpressJS exercise that creates even tinier URLs</small></h6></h1>

<!-- Checks to see if user is logged in -->
<% if (cookieName) { %>
  <p>Hey, <%= cookieName.email %></p>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
<% } else { %>
  <a href="/register">Register</a> | <a href="/login">Login</a>
<% } %>
