<!-- Checks to see if user is logged in -->
<% if (cookieName) { %>
  <p>Hey, <%= cookieName.email %></p>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <h6>Your URLs</h6>
<% } else { %>
  <a href="/register">Register</a> | <a href="/login">Login</a>
<% } %>
