<h1>TinyApp <h6><small class="text-muted">a tiny Node/ExpressJS exercise that creates even tinier URLs</small></h6></h1>

<!-- Checks to see if user is logged in -->
<% if (cookieName) { %>
  <p>Hey, <%= cookieName %></p>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <input type="text" name="username" value="">
    <button type="submit">Login</button>
  </form>
<% } %>
