<!-- Add EJS code here -->
<% include partials/_head %>

    <header>
      <% include partials/_header %>
    </header>

    <a href="<%= urls[page_id].longURL %>"><%= page_id %></a>

    <form action="/urls/<%= page_id %>" method="POST">
      <input type="text" name="longURL" value="" placeholder="http://">
      <button type="submit">Update</button>
    </form>

  </body>
</html>