  <!-- Add EJS code here -->
  <% include partials/_head %>
    <header>
      <% include partials/_header %>
    </header>

    <!-- Registration form -->
    <form action="/login" method="POST">
      <label for="email">Email: </label>
        <input type="email" name="email">
      <label for="password">Password: </label>
        <input type="password" name="password">
      <button type="submit">Login</button>
    </form>

  </body>
</html>